<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the index.html file</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ipsum cupiditate veritatis cumque distinctio quae quod recusandae dignissimos veniam, facere nihil dicta odio molestiae dolorem soluta aspernatur at voluptas ad!</p>
</body>
</html>